body {
  background-color: darkcyan;
}

.head {
  display:flex;
  justify-content:space-around;
  align-items:center;
  font-size:100px;
}

.page {
  border: solid thick black;
  padding-left: 200px;
  padding-right:200px;
  margin: 10px;
  color:white;
  background-color: green;
  border-radius: 30px;
}

.shows {
  display:block;
  border: solid black;
  padding: 10px;
  width: 200px;
  height: 500px;
  background-color: antiquewhite;
}
.center {
  display:flex;
  align-items:center;
}

.form {
  display:flex;
}

.delete {
  border-radius:50%;
  background-color: red;
  color:white;
}

.flex {
  display:flex;
  justify-content:row;
}

#form {
  display:block;
  font-size:30px;
  border: thick gold solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding:25px;
  margin-left:100px;
}

.showshow {
  display:flex;
  justify-content: row;
}